{% load staticfiles %}
<html>
  <head>
     <center> <title>SUBASTA EN LINEA</title></center>
    <center><p><a href="https://facebook.com">Contactanos en Facebook</a></p></center>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     <link rel="stylesheet" href="{% static 'css/blog.css' %}">
     <link href='https://fonts.googleapis.com/csss?family=Shadows+Into+Light" rel='stylesheet' type='text/css'>
      
  </head>
  <body>
      <div class="page-header">
      {% if user.is_authenticated %}
      <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      {% endif %} 
     <center><h1><a href="/">SUBASTA EN LINEA</a></h1></center>
<center><img src="https://previews.123rf.com/images/barmaleeva/barmaleeva1408/barmaleeva140800025/31062213-Venta-de-etiquetas-en-las-nubes-mujeres-s-cosm-ticos-zapatos-accesorios-Foto-de-archivo.jpg" height="600" width="600"></center>

   </div>
   <div class="content container">
    <div class="row">
      <div class="col-md-8">
      {% block content %}
      {% endblock %}
      </div>
   </div>
</div>
  </body>
</html>

